<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Ake Portfolio
    </a>
    <div class="btns">
      <div class="btn"><%= link_to "Home", root_path %></div>
      <div class="btn"><%= link_to "Mes app", mesapp_path %></div>
      <div class="btn"><%= link_to "Mes projets d'UX Design", mesuxapp_path %></div>
      <div class="btn"><%= link_to "Mes autres projets", mesautresprojet_path %></div>
      <div class="btn"><%= link_to "À propos de moi...", about_path %></div>
    </div>
  </div>
</div>
